{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<body>
<div class="container">
    <h3>Stocks Viewer</h3>
    <div class="row">
        <div class="'col-md-4">
            {{ wtf.quick_form(find_stock_form) }}
        </div>
    </div>
    <br/>
    {% if stocks %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.ticker }}</td>
                    <td>
                        <a href="ticker/{{ stock.ticker }}" class="btn btn-primary">View data</a>
                        <a href="stocks_delete/{{ stocks.ticker }}" class="btn btn-danger">Delete</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
</body>
{% endblock %}
